$color-background-grey: #c1c1c1;
$color-background-grey-secondary: #afafaf;
$color-background-transport: #444444;
$color-background-panel: #e8e8e8;

$color-font-grey: #efefef;

$color-black: #000000;
