.btn {
  padding: 5px;
  border-radius: 5px;

  &-app {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .1s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 5px rgba($color-black, .2);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 .5rem .5rem rgba($color-black, .2);
    }
  }
}
