.song {
  text-align: left;
  vertical-align: middle;
  height: 50px;
  width: 100%;
  z-index: 2;
  border-radius: 10px;

  transition: all .5s;

  // animation: slideInRight 5s ease-out;

  &-play {
    transition: all .2s;
    display: inline-block;
    vertical-align: middle;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }

  &-text {
    width: 75%;
    height: 50%;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
  }

  &-like {
    display: inline;
    position: relative;
    z-index: 2;
    top: 15%;
    bottom: 50%;
    height: 30px;
    vertical-align: middle;
    float: right;
    padding-top: 5px;
    padding-right: 10px;
    transition: all .2s;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }

  &-meta {
    display:inline;
    vertical-align: middle;
    font-size: 12px;
  }

  &-artist {
    font-size: 15px;
    vertical-align: middle;
  }

  &-playcount {
    font-size: 9px;
    display: inline;
    vertical-align: middle;
    text-align: right;
    color: lightgrey;
  }
}
