*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #c1c1c1;
  position: absolute; }

.App {
  height: 100%;
  background-color: #c1c1c1;
  margin-bottom: 0; }

#follow-button {
  font-size: 12px; }

#threeCanvas {
  position: fixed;
  top: 0%;
  z-index: -1; }

.song-date {
  font-size: 10px;
  font-style: italic; }

#uploadDiv {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 500px;
  padding-top: 40px;
  justify-content: center; }

#mainBody {
  display: inline-block;
  height: 90vh;
  width: 90%;
  padding-top: 60px;
  padding-right: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  float: right;
  position: fixed;
  right: 0px;
  background-color: #c1c1c1; }

#sidebar {
  font-family: 'Share Tech Mono', monospace;
  position: fixed;
  left: 0;
  z-index: 2;
  display: inline-block;
  width: 10%;
  padding-top: 60px;
  height: 100%;
  float: left; }

.sidebarButton {
  color: #efefef; }

#threeCanvas {
  z-index: 2;
  display: inline-block;
  position: fixed;
  left: 0; }

#editTrack {
  font-size: 18px; }

#editForm {
  position: absolute;
  width: 80%; }

#showName {
  display: inline-block;
  vertical-align: middle; }

#showHeader {
  display: block;
  text-align: left;
  width: 100%;
  border-color: lightgrey;
  border-style: solid;
  border-width: 2px; }

#navbar {
  width: 100%;
  height: 40px;
  background-color: #444444;
  color: #efefef;
  margin-bottom: 20px;
  text-align: left; }

.navbarLogo-img {
  display: inline-block;
  float: left;
  margin-right: 20px;
  height: 30px; }

.navStuff {
  font-family: 'Share Tech Mono', monospace;
  color: #efefef;
  cursor: pointer; }

#navbarLogo {
  font-family: 'Share Tech Mono', monospace;
  color: #efefef;
  cursor: pointer; }

@keyframes floatInBottom {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.App {
  text-align: center;
  font-family: 'Ubuntu Mono', monospace; }

#sidebar {
  font-family: 'Share Tech Mono', monospace; }

.btn {
  padding: 5px;
  border-radius: 5px; }
  .btn-app {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .1s; }
    .btn-app:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
    .btn-app:active {
      transform: translateY(1px);
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.song {
  text-align: left;
  vertical-align: middle;
  height: 50px;
  width: 100%;
  z-index: 2;
  border-radius: 10px;
  transition: all .5s; }
  .song-play {
    transition: all .2s;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; }
    .song-play:hover {
      transform: scale(1.1); }
    .song-play:active {
      transform: scale(1); }
  .song-text {
    width: 75%;
    height: 50%;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
    display: inline-block; }
  .song-like {
    display: inline;
    position: relative;
    z-index: 2;
    top: 15%;
    bottom: 50%;
    height: 30px;
    vertical-align: middle;
    float: right;
    padding-top: 5px;
    padding-right: 10px;
    transition: all .2s; }
    .song-like:hover {
      transform: scale(1.1); }
    .song-like:active {
      transform: scale(1); }
  .song-meta {
    display: inline;
    vertical-align: middle;
    font-size: 12px;
    cursor: pointer; }
    .song-meta:hover {
      transition: all .15s ease-out;
      color: #afafaf; }
  .song-artist {
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer; }
    .song-artist:hover {
      transition: all .15s ease-out;
      color: #afafaf; }
  .song-playcount {
    font-size: 9px;
    display: inline;
    vertical-align: middle;
    text-align: right;
    color: lightgrey; }

#songList {
  padding: 5px;
  border-radius: 10px;
  animation: floatInBottom .2s ease-out;
  animation-fill-mode: backwards; }

.transport {
  position: fixed;
  bottom: 0px;
  z-index: 4;
  height: 100px;
  width: 100%;
  text-align: left;
  font-family: 'Share Tech Mono', monospace;
  animation: slideInBottom .5s ease-out; }
  .transport-vis {
    position: absolute;
    z-index: 2;
    right: 35%;
    top: 37%;
    padding: 5px;
    border-radius: 10px; }
  .transport-canvas {
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
    text-align: left;
    font-family: 'Share Tech Mono', monospace; }
  .transport-meta {
    position: fixed;
    width: 30%;
    padding-left: 20px;
    color: #efefef;
    background-color: #444444;
    z-index: 1;
    right: 0;
    vertical-align: middle; }
  .transport-play-button {
    position: fixed;
    z-index: 1;
    width: 100px;
    height: 100px;
    transition: all .2s; }
    .transport-play-button:hover {
      transform: scale(0.9); }
    .transport-play-button:active {
      transform: scale(1); }

.comments {
  height: 50vh;
  display: block;
  padding-bottom: 0; }
  .comments-comment {
    text-align: left; }
    .comments-comment-user {
      font-size: 18px;
      font-weight: 600; }

#commentDiv {
  margin: 0;
  padding: 0; }

.uploadDiv {
  display: inline-block;
  background-color: #e8e8e8;
  padding: 20px;
  margin-top: 2vh;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }
  .uploadDiv-form-filename {
    margin-bottom: 1vh;
    width: 100%;
    padding: 0.8vh;
    border-radius: 10px;
    border: none; }
  .uploadDiv-form-description {
    margin-bottom: 1vh;
    width: 100%;
    height: 10vh;
    padding: 0.8vh;
    border-radius: 10px;
    border: none; }
  .uploadDiv-form-fileinput {
    margin-bottom: 1vh;
    width: 100%;
    border-radius: 10px;
    border: none; }
  .uploadDiv-form-submit {
    margin-bottom: 1vh;
    width: 100%;
    border-radius: 10px;
    transition: all .1s; }
    .uploadDiv-form-submit:hover {
      transform: translateY(-2px);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }
    .uploadDiv-form-submit:active {
      transform: translateY(1px);
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.register {
  display: inline-block;
  background-color: #e8e8e8;
  padding: 20px;
  margin-top: 2vh;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  animation: floatInBottom .2s ease-out;
  animation-fill-mode: backwards; }

.authForm-username {
  margin-bottom: 1vh;
  width: 100%;
  padding: 0.8vh;
  border-radius: 10px;
  border: none; }

.authForm-password {
  margin-bottom: 1vh;
  width: 100%;
  padding: 0.8vh;
  border-radius: 10px;
  border: none; }

.authForm-email {
  margin-bottom: 1vh;
  width: 100%;
  padding: 0.8vh;
  border-radius: 10px;
  border: none; }

.authForm-display {
  margin-bottom: 1vh;
  width: 100%;
  padding: 0.8vh;
  border-radius: 10px;
  border: none; }

.authForm-submit {
  margin-bottom: 1vh;
  width: 25%;
  border-radius: 10px;
  transition: all .1s; }
  .authForm-submit:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }
  .authForm-submit:active {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.showDiv {
  display: block;
  position: absolute;
  padding-left: 20px;
  font-size: 12px;
  text-align: left;
  float: left;
  width: 100%;
  height: 80%;
  z-index: 1;
  background-color: #c1c1c1;
  text-transform: lowercase;
  text-align: center;
  animation: floatInBottom .2s ease-out;
  animation-fill-mode: backwards; }
  .showDiv--name {
    letter-spacing: 10px;
    font-weight: 600; }
  .showDiv--tracks {
    width: 45%;
    display: inline-block;
    vertical-align: top; }
  .showDiv--favorites {
    width: 45%;
    display: inline-block;
    vertical-align: top; }

.singleTrack {
  padding: 5px;
  animation: floatInBottom .2s ease-out;
  animation-fill-mode: backwards; }
  .singleTrack-desc {
    padding: 20px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0; }
